.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

.place__paragraph:not(:first-child) {
  margin-top: 26px;
}

@media screen and (max-width:1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .place__paragraph:not(:first-child) {
    margin-top: 25px;
  }
}

@media screen and (max-width:767px) {
  .place__paragraph {
    max-width: calc(100% - 2 * 16px);
    margin: 0 auto;
    line-height: 26px;
  }

  .place__paragraph:not(:first-child) {
    margin-top: 25px;
  }
}


