.lang {
  list-style: none;
  display: flex;
  margin:0;
  padding: 0;
  }

  @media screen and (max-width: 1023px) {
    .lang {
      margin-top: 18px;
    }
  }

  @media screen and (max-width: 767px) {
    .lang {
      margin-top: 10px;
    }
  }