.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (max-width:1023px) {
  .place__url {
    margin-top: 0;
  }
}

@media screen and (max-width:767px) {
  .place__url {
    margin-left: 16px;
    margin-top: 0;
  }
}